# Dependencies
requests
duckdb==0.7.1
polars==0.17.2
pyarrow==14.0.1
numpy==1.24.2
git+https://github.com/fierte-product-development/Standard-Library-Extension@2e6095af0f04e013b492bc9a497655071fdb9124 # fmodules

# Tooling
pytest
pytest-mock
pytest-cov
parquet-tools==0.2.12

# Linter
black
ruff
